.top_bar {
    /* padding: 3px; */
    /* border-bottom: 0.7px solid rgb(182, 181, 181); */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    top: 0;
    left: 50px;
    position: sticky;
}

.filter_options > *{
    margin: 3px 8px;
}

.toggle_container span{ 
    margin: 0 3px;
    padding: 3px 7px;
}

.filter_options span:hover {
    border-bottom: 1px solid rgb(68, 158, 231);
}

@media only screen and (max-width: 750px) {
.top_bar {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.filter_options > *{
    display: flex;
    flex-flow: row wrap;
    margin: 4px 5px;
    font-size: smaller;
}

.toggle_container span{ 
    display: flex;
    flex-flow: row wrap;
    /* margin: 0 1px;
    padding: 1px 2px; */
}
}