.footer_container {
    bottom: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid rgb(190, 190, 190);
}
.logo_container {
    display: flex;
    align-items: center;
}

.logo_img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 8px;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_content ul {
    list-style: none;
}
.footer_content ul li{
    margin: 10px 0;
}
